/* COMMON */

body, html {
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.cta-button {
    min-width: 150px;
    background-color: #f1c40f;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: background-color, 0.5, ease-in-out; 
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ffda46;
}

.cta-button--big {
    min-width: 200px;
    font-size: 2rem;
    padding: 1rem;
}

/* END OF COMMON */

/* NAV */

.nav {
    background-color: #2c3e50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav__links {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
}

.nav__link {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 50px;
    min-width: 150px;
    text-decoration: none;
}


.nav__link:hover {
    background-color: #34495e;
}

.nav__link--active {
    background-color: rgb(59, 76, 93);
}

/* END OF NAV */

/* HERO */

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 50px;
    width: 100%;
}

.hero-info {
    color: #fff;
    text-align: center;
}


/* END OF HERO */   